
h3 {
    font-style: italic;
    text-align: center;
    
}


.nome {
    margin: 5px;
}

.sobrenome {
    margin: 5px;
}


form {
    margin: 0 auto;
    width:200px;
    border: 5px solid black;
    background-color: brown;
    letter-spacing: 1px;
}


#botao {
    color: greenyellow;
    padding: 10px;
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 3px;
}